---
slug: components
---
<!doctype html>
<html>
    <head>
        <title>Building Blocks</title>
        <link href='css/style-v{{index.version}}.min.css' rel='stylesheet'/>
    </head>
    <body>
            {{> body }}
    </body>
</html>
